<a href="https://colab.research.google.com/github/Jenny000327/Database_SQL/blob/main/%E2%80%8D%EC%A0%95%EC%9E%AC%ED%9D%AC%5B%EC%9E%AC%ED%95%99_%EC%A0%84%EC%9E%90%EB%AC%BC%EB%A6%AC%ED%95%99%EA%B3%BC%5D_ch5_homework_2022_student_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - SQL1

1. Use Google Colaboratory and do your homework.
3. (In Google colaboratory) Before you submit your homework, restart kernel and run every cell!
4. Save (File->Save) the file
5. Submit your homework (this file) in Google classroom
6. **Don't forget to click "제출" button** ("Submit", "완료로 표시", 또는 "제출" 버턴을 누르지 않으면 제출된 것이 아님)
7. No late homeworks will be accepted for any reason!

To edit this cell, double click here
```
이름:_________정재희_____________
학번:________201904511_______________
학과:_________전자물리______________
제출일:_______20222-11-25_______________
```

- SQL 작성시, 문제에 주어지지 않은 상수를 사용하는 경우 (cheating), **마이너스 점수**를 받는다.

- **점수: 1번은 20점 나머지는 10점**

아래는 학생과 수업에 관련된 데이터베이스 테이블이다. 

![image.png]()

In [ ]:
%load_ext sql

In [ ]:
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 834 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

## Use your host, id, database, and password

In [ ]:
import getpass
user = 's201904511'
password = getpass.getpass()
host='dm.hufs.ac.kr'
database = 's201904511db'
connection_string = f'mysql+pymysql://{user}:{password}@{host}:3306/{database}'
    
%sql $connection_string

··········

'Connected: s201904511@s201904511db'

### Use your s학번db database

In [ ]:
%sql use s201904511db;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
0 rows affected.

[]

## Note: 
## Do NOT use either nested 'select' statements or aggregate functions
## Use single 'select' statements ONLY

#### 1.  관계형 데이터베이스 테이블 스키마(create table)을 생성하고, MySQL DBMS를 이용하여 테이블을 생성하시오. 

- 테이블은 적절한 컬럼 데이터 타입, Primary Key, Foreign Key (on delete, on update rule 포함, restrict, set null, cascade), 필요하다면 Unique, NOT NULL 등이 표시되어야 한다. 

- 조건: 선수과목 정보는 course 정보 때문에 유지하는 정보이다. 즉, Course가 삭제되면, 불필요한 정보이다.
- 스키마 작성시 9번 문제가 성공할 수 있도록 스키마를 작성하여야 한다.

- Semester은 enum type을 사용하여, 봄, 여름, 가을, 겨울(Spring, Summer, Fall, Winter) 순서가 되게 한다.
- Grade는 enum type을 사용하여 A, B, C, D, F 순서가 되게 한다.

In [ ]:
%%sql
/* YOUR CODE HERE 20*/
SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;

DROP TABLE IF EXISTS STUDENT;
DROP TABLE IF EXISTS COURSE;
DROP TABLE IF EXISTS SECTION;
DROP TABLE IF EXISTS GRADE_REPORT;
DROP TABLE IF EXISTS PREREQUISITE;
DROP TABLE IF EXISTS MAJOR_GRADE_REPORT;
DROP TABLE IF EXISTS grade1;

CREATE TABLE STUDENT
(   Name VARCHAR(15) NOT NULL,
    Student_number INT NOT NULL,
    Class INT,
    Major VARCHAR(15) NOT NULL,
    PRIMARY KEY(Student_number)
)ENGINE=InnoDB;

CREATE TABLE COURSE
(   Course_name VARCHAR(45) NOT NULL,
    Course_number VARCHAR(30) NOT NULL,
    Credit_hours INT,
    Department VARCHAR(15),
    PRIMARY KEY (Course_number)
)ENGINE=InnoDB;

CREATE TABLE SECTION
(   Section_identifier INT NOT NULL,
    Course_number VARCHAR(30) NOT NULL,
    Semester ENUM("Spring", "Summer", "Fall", "Winter"),
    Year VARCHAR(10),
    Instructor VARCHAR(15),
    PRIMARY KEY (Section_identifier),
    FOREIGN KEY (Course_number)
                REFERENCES COURSE(Course_number)
                ON DELETE CASCADE
                ON UPDATE CASCADE
)ENGINE=InnoDB;

CREATE TABLE GRADE_REPORT
(   Student_number INT NOT NULL,
    Section_identifier INT NOT NULL,
    Grade ENUM("A", "B", "C", "D", "F"),
    PRIMARY KEY (Student_number, Section_identifier),
    FOREIGN KEY (Student_number)
                REFERENCES STUDENT(Student_number)
                ON DELETE CASCADE
                ON UPDATE CASCADE,
   FOREIGN KEY (Section_identifier)
               REFERENCES SECTION(Section_identifier)
               ON DELETE CASCADE
               ON UPDATE CASCADE
)ENGINE=InnoDB;

CREATE TABLE PREREQUISITE
(   Course_number VARCHAR(30) NOT NULL,
    Prerequisite_number VARCHAR(30) NOT NULL,
    PRIMARY KEY (Course_number, Prerequisite_number),
    FOREIGN KEY (Course_number)
                REFERENCES COURSE(Course_number)
                ON DELETE CASCADE
                ON UPDATE CASCADE,
    FOREIGN KEY (Prerequisite_number)
                REFERENCES COURSE(Course_number)
                ON DELETE CASCADE
                ON UPDATE CASCADE            
)ENGINE=InnoDB;

SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

#### 2. 각 테이블에 위에 테이블에 주어진 행들을 “insert into”를 이용하여 행들을 삽입하시오. Select \* from <table_name>를 이용하여 삽입의 성공 여부를 확인하시오.

In [ ]:
%%sql
/* YOUR CODE HERE 10*/

insert into STUDENT values
        ("Smith", 17, 1, "CS"),
        ("Brown", 8, 2, "CS");

insert into COURSE values
        ("Intro to Computer Science", "CS1310", 4, "CS"),
        ("Data Structures", "CS3320", 4, "CS"),
        ("Discreate Mathematics", "MATH2410",3,"MATH"),
        ("Database","CS3380",3,"CS");

insert into SECTION values
        (85,"MATH2410","Fall", "07", "King"),
        (92,"CS1310","Fall", "07", "Anderson"),
        (102,"CS3320","Spring", "08", "Knuth"),
        (112,"MATH2410","Fall", "08", "Chang"),
        (119,"CS1310","Fall", "08", "Anderson"),
        (135,"CS3380","Fall", "08", "Stone");

insert into GRADE_REPORT values
        (17,112,"B"),
        (17,119,"C"),
        (8,85,"A"),
        (8,92,"A"),
        (8,102,"B"),
        (8,135,"A");

insert into PREREQUISITE values
        ("CS3380", "CS3320"),
        ("CS3380", "MATH2410"),
        ("CS3320", "CS1310");

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
2 rows affected.
4 rows affected.
6 rows affected.
6 rows affected.
3 rows affected.

[]

### Run the following cell to show that insert is correctly done

In [ ]:
%sql select * from STUDENT;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
2 rows affected.

[('Brown', 8, 2, 'CS'), ('Smith', 17, 1, 'CS')]

In [ ]:
%sql select * from COURSE;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
4 rows affected.

[('Intro to Computer Science', 'CS1310', 4, 'CS'),
 ('Data Structures', 'CS3320', 4, 'CS'),
 ('Database', 'CS3380', 3, 'CS'),
 ('Discreate Mathematics', 'MATH2410', 3, 'MATH')]

In [ ]:
%sql select * from SECTION;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
6 rows affected.

[(85, 'MATH2410', 'Fall', '07', 'King'),
 (92, 'CS1310', 'Fall', '07', 'Anderson'),
 (102, 'CS3320', 'Spring', '08', 'Knuth'),
 (112, 'MATH2410', 'Fall', '08', 'Chang'),
 (119, 'CS1310', 'Fall', '08', 'Anderson'),
 (135, 'CS3380', 'Fall', '08', 'Stone')]

In [ ]:
%sql select * from GRADE_REPORT;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
6 rows affected.

[(8, 85, 'A'),
 (8, 92, 'A'),
 (8, 102, 'B'),
 (8, 135, 'A'),
 (17, 112, 'B'),
 (17, 119, 'C')]

In [ ]:
%sql select * from PREREQUISITE;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
3 rows affected.

[('CS3320', 'CS1310'), ('CS3380', 'CS3320'), ('CS3380', 'MATH2410')]

#### 3. Database 과목을 수강한 학생들의 이름을 나열하시오.

In [ ]:
%%sql
/* YOUR CODE HERE 10*/
select st.name from COURSE c, SECTION se ,GRADE_REPORT g,STUDENT st
where c.Course_name = "Database" 
and c.course_number = se.course_number 
and se.Section_identifier = g.Section_identifier 
and g.Student_number = st.Student_number;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
1 rows affected.

[('Brown',)]

#### 4. Grade_report테이블에 <8, 112, NULL> 행을 삽입하시오. 동일한 과목(course)을 두 번 이상 수강한 학생의 이름을 찾으시오. (Do NOT use aggregation functions)

In [ ]:
%sql insert into GRADE_REPORT values (8, 112, NULL);

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
1 rows affected.

[]

In [ ]:
%%sql
/* YOUR CODE HERE 0*/
select st.Name, count(*)
from STUDENT st natural join  GRADE_REPORT g natural join SECTION se
group by Student_number,Course_number
having count(*)>=2;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
1 rows affected.

[('Brown', 2)]

#### 5. Database 과목을 듣기 위해 (직접 또는 간접적으로: directly or indirectly) 미리 들어야 하는(prerequisite) 과목(Course_name)들을 모두 나열하시오. (Prerequisite는 Acyclic graph이고 path의 최대 길이는 3이라고 가정함. 길이 3: A-B-C-D)

In [ ]:
%%sql
/* YOUR CODE HERE 5*/
(
    select c2.Course_name
    from COURSE c, COURSE c2, PREREQUISITE p1
    where c.Course_name = "Database" 
        and c.Course_number = p1.Course_number 
        and p1.Prerequisite_number = c2.Course_number
)
union all
(
    select c3.Course_name
    from COURSE c, COURSE c2, COURSE c3, PREREQUISITE p1,PREREQUISITE p2
    where c.Course_name = "Database" 
        and c.Course_number = p1.Course_number 
        and p1.Prerequisite_number = c2.Course_number 
        and c2.Course_number = p2.Course_number 
        and p2.Prerequisite_number = c3.Course_number
)

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
3 rows affected.

[('Data Structures',),
 ('Discreate Mathematics',),
 ('Intro to Computer Science',)]

#### 6. 전공으로 수강한 과목들만 나열하는 MAJOR_GRADE_REPORT테이블을 만드시오. 테이블을 생성하고, GRADE_REPORT 테이블에서 전공으로 수강한 경우에 해당하는 행들만 아래 테이블에 삽입하시오. 전공으로 수강하였다는 것은 학생의 전공(Major)과 COURSE의 개설 Department가 같으면 전공으로 수강한 과목이다.
   
    MAJOR_GRADE_REPORT(Student_number, Section_identifier, Grade)

In [ ]:
%%sql
/* YOUR CODE HERE 10*/
CREATE TABLE MAJOR_GRADE_REPORT
(   Student_number INT NOT NULL,
    Section_identifier INT NOT NULL,
    Grade ENUM("A", "B", "C", "D", "F"),
    PRIMARY KEY (Student_number, Section_identifier),
    FOREIGN KEY (Student_number)
                REFERENCES STUDENT(Student_number)
                ON DELETE CASCADE
                ON UPDATE CASCADE,
    FOREIGN KEY (Section_identifier)
               REFERENCES SECTION(Section_identifier)
               ON DELETE CASCADE
               ON UPDATE CASCADE
)ENGINE=InnoDB;

insert into MAJOR_GRADE_REPORT
select distinct g.Student_number, g.Section_identifier, g.Grade 
from STUDENT st, COURSE c, SECTION se, GRADE_REPORT g
where st.Major = c.Department and c.Course_number = se.Course_number and se.Section_identifier = g.Section_identifier

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
0 rows affected.
4 rows affected.

[]

### Run the following cell to show that insert is correctly done

In [ ]:
%sql select * from MAJOR_GRADE_REPORT;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
4 rows affected.

[(8, 92, 'A'), (8, 102, 'B'), (8, 135, 'A'), (17, 119, 'C')]

#### 7. 모든 학생들의 성적들을 다음과 같이 출력하려 한다. 적절한 SQL문을 작성하여 실행하시오. 
- 결과 테이블은 Major, Student_number, Year, Semester, Course_number 순서로 정렬되어야 한다.
- 결과 테이블 애트리뷰트 이름 및 순서: (Major, Student_number, Student_name, Year, Semester, Course_number, Course_name, Grade)

In [ ]:
%%sql
/* YOUR CODE HERE 0*/
select st.Major, st.Student_number, st.Name as Student_name, se.Year,se.Semester, se.Course_number,c.Course_name,g.Grade
from(STUDENT st natural join COURSE c natural join SECTION se natural join GRADE_REPORT g)

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
7 rows affected.

[('CS', 9, 'Brown', '07', 'Fall', 'MATH2410', 'Discreate Mathematics', 'A'),
 ('CS', 9, 'Brown', '07', 'Fall', 'CS1310', 'Intro to Computer Science', 'A'),
 ('CS', 9, 'Brown', '08', 'Spring', 'CS3320', 'Data Structures', 'B'),
 ('CS', 9, 'Brown', '08', 'Fall', 'MATH2410', 'Discreate Mathematics', None),
 ('CS', 9, 'Brown', '08', 'Fall', 'CS3380', 'Database', 'F'),
 ('CS', 17, 'Smith', '08', 'Fall', 'MATH2410', 'Discreate Mathematics', 'B'),
 ('CS', 17, 'Smith', '08', 'Fall', 'CS1310', 'Intro to Computer Science', 'C')]

#### 8. Brown이 수강한 Database 과목의 학점을 F로 수정하시오.

In [ ]:
%%sql
/* YOUR CODE HERE 10*/
update GRADE_REPORT 
set Grade = "F"
where (Student_number, Section_identifier) 
in 
(
    select Student_number, Section_identifier 
    from 
    (
        select st.Student_number , se.Section_identifier 
        from STUDENT st, COURSE c , GRADE_REPORT g , SECTION se
        where st.Name ="Brown" 
                and c.Course_name = "Database" 
                and c.Course_number = se.Course_number 
                and g.Section_identifier=se.Section_identifier
    ) as tmp
)

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
1 rows affected.

[]

### Run the following cell to show that update is correctly done

In [ ]:
%sql select * from GRADE_REPORT where Student_number = 8 and Section_identifier = 135;

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
1 rows affected.

[(8, 135, 'F')]

#### 9. Brown의 학번을 8번에서 9번으로 수정하시오. 반드시 update문 하나만 있어야 하며, update 문은 반드시 성공하여야 한다. 테이블의 Foreign Key 선언문을 삭제하면 안됨.

In [ ]:
%%sql
/* YOUR CODE HERE 10*/

update STUDENT
set Student_number = 9
where Name = "Brown"

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
1 rows affected.

[]

### Run the following cell to show that update is correctly done

In [ ]:
%sql select * from STUDENT where name = 'Brown';

 * mysql+pymysql://s201904511:***@dm.hufs.ac.kr:3306/s201904511db
1 rows affected.

[('Brown', 9, 2, 'CS')]